body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffff5;
}

header {
    background-color: #f1e500;
    color: white;
    padding: 10px;
    text-align: center;
}

section#exercise-list {
    margin: 20px;
}

.exercise-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f1e500;
    color: white;
    border: none;
    cursor: pointer;
}

.exercise-buttons button:hover {
    background-color: #f1e500;
}

.add-exercise {
    background-color: #2196F3;
}

.add-exercise:hover {
    background-color: #0b7dda;
}

#new-exercise-container {
    margin-top: 20px;
}

#new-exercise-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

button#save-exercise,
button#cancel-exercise {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

button#save-exercise {
    background-color: #f1e500;
    color: white;
}

button#cancel-exercise {
    background-color: #f44336;
    color: white;
}

button#save-exercise:hover {
    background-color: #f1e500;
}

button#cancel-exercise:hover {
    background-color: #e53935;
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f1e500;
    color: white;
    border: none;
    cursor: pointer;
}

footer button:hover {
    background-color: #f1e500;
}

/* Style for remove buttons */
.remove-exercise {
    background-color: #f44336;
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.remove-exercise:hover {
    background-color: #e53935;
}